@{
    ViewBag.Title = "About Tech Training Tracker";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tech Training Tracker is a web application that allows the user to record their completed certifications, training they are completing or plan to complete, and the company/organization that is providing the      training/certificates.This project will help tech novices and veterans alike keep track of what they have accomplished and what they plan to complete. </p>
